<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
</head>
<body>
<table style="border:1px solid black;margin-left:auto;margin-right:auto;">

<tr>
<td>
<img th:src="@{/imagens/index/gerencia_produto/botoes/cadastro_produtos.jpg}" alt="cadastro_produtos"/>			
</td>
<td>teste_2a</td>
<td>teste_3a</td>
</tr>
		
<tr>
<td>
<a th:href="@{/pagina-de-destino}">
<img th:src="@{/imagens/index/gerencia_produto/botoes/produtos_mais_buscados_cliente.jpg}" alt="produtos_mais_buscados_clientea"/>
</td>
<td>
<img th:src="@{/imagens/index/gerencia_produto/botoes/informaçoes_vendas_cliente.jpg}" alt="informaçoes_vendas_cliente"/>
</td>
<td>teste_3b</td>
</tr>
		
<tr>
<td>
<img th:src="@{/imagens/index/gerencia_produto/botoes/produtos_mais_buscados_website.jpg}" alt="editar_endereco"/>
</td>
<td>teste_2c</td>
<td>teste_3c</td>
</tr>

<tr>
<td>
<img th:src="@{/imagens/index/gerencia_produto/botoes/editar_endereco.jpg}" alt="imagem_nao_cadastrada"/></td>
<td>teste_2d</td>
<td>teste_3d</td>
</tr>

<tr>
<td>
<img th:src="@{/imagens/index/gerencia_produto/botoes/imagem_nao_cadastrada.jpg}" alt="imagem_nao_cadastrada"/></td>
<td>teste_2e</td>
<td>teste_3e</td>
</tr>

</table>
</body>
</html>